<section id="todolist-view" class="container-fluid">

    <h1>Todo List</h1>
    <form name="todoListForm"
    ng-submit="todoListForm.$valid && vm.addTodo(todoCtrl.todo)" novalidate>
      <label>Description:</label>
      <input ng-model="todoCtrl.todo.description" required />

      <label>Due Date:</label>
      <input ng-model="todoCtrl.todo.dueDate" required type="date" />

      <blockquote>
        <em>Preview<em/><br/>
        <b>Description: {{vm.todo.description}}</b>
        Due: {{vm.todo.dueDate}}
      </blockquote>


      <input type="submit" value="Add"/>
    </form>
    <br/>


    <blockquote ng-repeat="todo in vm.todos">
      <b>Description: {{todo.description}}</b> due
      {{todo.dueDate}}
    </blockquote>

</section>
