<section id="todolist-view" class="container-fluid">

    <h1>Todo List</h1>
    <form name="todoListForm"
    ng-submit="todoListForm.$valid && vm.addTodo(vm.todo)" novalidate>
      <label>Description:</label>
      <input ng-model="vm.todo.description" required />

      <label>Due Date:</label>
      <input ng-model="vm.todo.dueDate" required type="date" />

      <input type="submit" value="Add"/>
    </form>
    <br/>

    <div class="table-responsive">
      <table class="table table-striped">
        <tr>
          <th></th>
          <th>Description</th>
          <th>Due Date</th>
        </tr>
        <tr ng-repeat="todo in vm.todos">
          <td style="text-align:center"><input type="checkbox"/></td>
          <td>{{todo.description}}</td>
          <td>{{todo.dueDate | date}}</td>
        </tr>
      </table>
    </div>

</section>
